body{
    font-family: Arial;
    font-size:16px;    
}

.submit-button {
    background-color: #fd6400;
    border: none;
    color: white;    
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;    
    font-size: 16px;
    margin: 12px 0px;
}

.cleared{
    clear:left;
}

.submit-button:hover{
   background-color:  #f2a878;   
}

.menu-button{
    background-color: #fd6400;
    border: none;
    color: white;    
    padding: 15px ;
    text-align: center;
    text-decoration: none;
    display: block;    
    font-size: 16px;
    float:left;
    width: 33%;
    margin: 12px 0px;
}

.spaced{
    margin: 10px 0px 10px 20px;
}


@media (max-width: 600px){
    .submit-button{
        text-align: center;   
        width: 95%;     
    }
      .text-title{
        font-size:25px;
        color: #009;
        text-align: center;
    }

     .inputfield{        
        color: #009;
        text-align: center;
    }
    .centered{
        text-align: center;
    }
    .centered-field{
        display: inline-block;
        width: 80%;
        margin: 8px 0px;
    }
}