body{
    font-family: Arial;
    font-size:16px;    
}



.cleared{
    clear:left;
}

.menu-button{
    background-color: #fd6400;
    border: none;
    color: white;    
    padding: 8px 0px 8px 0px ;
    text-align: center;
    text-decoration: none;
    display: block;    
    font-size: 16px;
    float:left;
    width: 33.3%;    
    margin: 12px 0px;
}

.spaced{
    margin: 10px 0px 10px 20px;
}

  

@media (min-width: 801px){

     .mobile-only{
         display: none;
     }
     .desktop-only{
         display: initial;
     }
    
object{        
        height:70%;
        width: 100%; 
        overflow: auto;       
    }

    .menu-button{
        width: 10%;
        
    }
    .submit-button {
    background-color: #fd6400;
    border: none;
    color: white;    
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;    
    font-size: 16px;
    margin: 12px 0px;
}

    #border{
        background-color: #009;
        width: 100%;
        height:34px;
        position: relative;
        top:12px;
        z-index : -1;
        
    }

    .text-title{
        font-size:36px;
        color: #009;
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    #desktop-logo{
        background-image: url(rabobank-logo.png);
        width:124px;
        height:148px;
        float:left;
        max-width: 100%;
        max-height: auto;
    }
   
    
}

@media (max-width: 800px){

    .mobile-only{
         display: initial;
     }
     .desktop-only{
         display: none;
     }

    object{        
        height:60%;
        width: 100%;        
    }    

    .menu-button{
        width: 33.3%;
    }
    
    .text-title{
        font-size:25px;
        color: #009;
        text-align: center;
    }

      .text-subtitle{
        font-size:20px;
        color: #009;
        text-align: center;
    }

     .inputfield{        
        color: #009;
        text-align: center;
    }
    .centered{
        text-align: center;
    }
    .centered-field{
        display: inline-block;
        width: 100%;
        margin: 8px 0px;
    }

    #total{
        color: #009;        
    }

    #currentRate{
        display: inline;
    }

     .md-scroll-mask { position: initial;}

    
     input[type=range]{
    -webkit-appearance: none;
    width : 100%;
    }

    input[type=range]::-webkit-slider-runnable-track {   
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
    }

    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: #fd6400;
        margin-top: -4px;
    }

    input[type=range]:focus {
        outline: none;
    }

    input[type=range]:focus::-webkit-slider-runnable-track {
        background: #ccc;
    }

    #mobile-logo-container{
        position: absolute;
        left:50%;
    }

    #mobile-logo{
        background-image: url(rabobank-logo-mobile.png);
        display: block;
        width:96px;
        height:33px;
        margin-left: -48px;
        position: relative;

    }

}